@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  --color-blue: #0000ff;
  --color-green: #00ff6a;

  /* solana colors */
  --color-purple-dino: #dc1fff;
  --color-ocean-blue: #03e1ff;
  --color-surge-green: #00ffa3;

  /* solana colors dark */
  --color-purple-dino-dark: #87149b;
  --color-ocean-blue-dark: #008a9d;
  --color-surge-green-dark: #00965f;
}

@theme {
  --color-blue: var(--color-blue);
  --color-green: var(--color-green);

  /* solana colors */
  --color-purple-dino: var(--color-purple-dino);
  --color-ocean-blue: var(--color-ocean-blue);
  --color-surge-green: var(--color-surge-green);

  /* solana colors dark */
  --color-purple-dino-dark: var(--color-purple-dino);
  --color-ocean-blue-dark: var(--color-ocean-blue);
  --color-surge-green-dark: var(--color-surge-green);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .bg-glass {
    @apply bg-white/10 backdrop-blur-md rounded-lg border border-white/20;
  }
}

body {
  color: white;
  background: black;
}

::-webkit-scrollbar {
  width: 6px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.3; 
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

.bx {
  font-size: 1.7em;
}

.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--color-purple-dino),
    var(--color-ocean-blue),
    var(--color-surge-green)
  );
}

.on-hover-underline {
  position: relative;
  transition: all 0.3s ease;
}

.on-hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  border-radius: 3px;
  width: 0;
  background: linear-gradient(
    to right,
    var(--color-purple-dino),
    var(--color-ocean-blue),
    var(--color-surge-green)
  );
  transition: all 0.3s ease;
}

.on-hover-underline:hover:after {
  width: 80%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    var(--color-purple-dino) 0%,
    var(--color-ocean-blue) 51%,
    var(--color-surge-green) 100%
  );
}

.btn-grad {
  text-transform: uppercase;
  transition: all 0.5s ease;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
}

.btn-grad:hover {
  box-shadow: 0 0 20px #eee;
  background-position: right center;
}

.rotate-animation {
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
