@import "tailwindcss";

:root {
  scroll-behavior: smooth;

  --color-purple-dino: #dc1fff;
  --color-ocean-blue: #03e1ff;
  --color-surge-green: #00ffa3;
}

@theme {
  --color-purple-dino: var(--color-purple-dino);
  --color-ocean-blue: var(--color-ocean-blue);
  --color-surge-green: var(--color-surge-green);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .bg-glass {
    @apply bg-gradient-to-br from-purple-300/5 via-purple-400/30 to-purple-300/5  backdrop-blur-md border border-purple-300/20;
  }
}

body {
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0.3;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

.bx {
  font-size: 1.7em;
}

.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--color-purple-dino),
    var(--color-ocean-blue),
    var(--color-surge-green)
  );
}

.on-hover-underline {
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-hover-underline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 4px;
  border-radius: 3px;
  width: 0;
  background: linear-gradient(
    to right,
    var(--color-purple-dino),
    var(--color-ocean-blue),
    var(--color-surge-green)
  );
  transition: all 0.3s ease;
}

.on-hover-underline:hover:after {
  width: 80%;
}

.after-features {
  position: relative;
}
